<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="ExceptionTestAppender" class="gov.va.ascent.framework.exception.ExceptionTestAppender">

    </appender>

    <appender name="LogTestAppender" class="gov.va.ascent.framework.log.LogTestAppender">

    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

    </appender>

    <logger name="gov.va.ascent.framework.exception" level="DEBUG">
        <appender-ref ref="ExceptionTestAppender"/>
    </logger>
    <logger name="gov.va.ascent.framework.log" level="DEBUG">
        <appender-ref ref="LogTestAppender"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>